<div id="team" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/team/team.less</em>, <em>assets/js/pages/team/team.page.js</em>, and <em>api/controllers/team/view-team.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
