<div id="project" v-cloak>
  <div class="container mt-2">
    <br>
    <br>
    <br>
    <div class="row mt-5">
      <div class="col-md-8">
        <h1>{{project.project_name}}</h1>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-warning" href="/dashboard/project/create">Create a Grid</a>
      </div>
    </div>

    <div class="all-grids">
      <div v-form="grid in projects" class="row">
        <div class="col col-md-6 name">
          {{grid.name}}
        </div>
      <div class="col col-md-6 spending">
        {{grid.spending}}
      </div>
      <div class="col col-md-6 profits">
        {{grid.profits}}
      </div>
      <div class="col col-md-6 dividends">
        {{grid.dividends}}
      </div>
      <div class="col col-md-6 cost">
        {{grid.cost}}
      </div>
      <div class="col col-md-6 royalties">
        {{grid.royalties}}
      </div>
      <div class="col col-md-3 edit">
        <a class="btn" :href="'dashboard/project/update/'+project.project_id">Edit</a>
      </div>
    </div>
  </div>
  <!-- {{grids}} -->
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
