<div id="welcome">
  {{projects}}
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false">Grids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tile-tab" data-toggle="tab" href="#tile" role="tab" aria-controls="tile" aria-selected="false">Tiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="tile" aria-selected="false">Sources</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
      <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="project-tab">
        <project-table id="project-table" :projects="projects"></project-table>
      </div>
      <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
        <grid-table id="grid-table" :grids="grids"></grid-table>
      </div>
      <div class="tab-pane fade" id="tile" role="tabpanel" aria-labelledby="tile-tab">
        <tile-table id="tile-table" :tiles="tiles"></tile-table>
      </div>
      <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
        <source-table id="source-table" :sources="sources"></source-table>
      </div>
    </div>
  </div>
  
  <button id="new_project_button" class="btn">New Project</button>
  <button id="new_grid_button" class="btn">New Grid</button>
  <button id="new_source_button" class="btn">New Source</button>
  <button id="new_outline_button" class="btn">New Outline</button>
  <button id="new_published_button" class="btn">Publish Grid</button>
  <button id="new_template_button" class="btn">New Template</button>
  <button id="new_team_button" class="btn">New Team</button>
  <button id="edit_source_button" class="btn" onClick="Source.editSource(1,'test','test')">Edit Source</button>
  <button id="edit_project_button" class="btn" onClick="Project.editProject({project_id:1,project_name:'test',project_description:'test' },{})">Edit Project</button>


  <grid-modals id="grid_modals"></grid-modals>
  <group-modals id="group_modals"></group-modals>
  <outline-modals id="outline_modals"></outline-modals>
  <project-modals id="project_modals"></project-modals>
  <publish-modals id="publish_modals"></publish-modals>
  <source-modals id="source_modals"></source-modals>
  <team-modals id="team_modals"></team-modals>
  <template-modals id="template_modals"></template-modals>
  <tile-modals id="tile_modals" ></tile-modals>
  <tutorial-modals id="tutorial_modals" ></tutorial-modals>

  <router-view></router-view>

  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
