<!-- <div class="container">
  <tabs>
    <tab name="Projects" :selected="true">
      <h1>Projects</h1>
      <input type="text" v-model="search" class="form-control" />
      <table class="table table-striped">
        <thead>
          <tr>
            <th v-repeat="column: columns">
              <a href="#" 
                 v-on="click: sortBy(column)"
                 v-class="active: sortKey == column"
                 >
                {{ column | capitalize }}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="people
                        | filterBy search
                        | orderBy sortKey reverse">
            <td>{{ projects }}</td>
            <td>{{ grids }}</td>
            <td>{{ tiles }}</td>
          </tr>
        </tbody>
      </table> 
    </tab>
    <tab name="Grids">
      <h1>Grids</h1>
      <input type="text" v-model="search" class="form-control" />
      <table class="table table-striped">
        <thead>
          <tr>
            <th v-repeat="column: columns">
              <a href="#" 
                 v-on="click: sortBy(column)"
                 v-class="active: sortKey == column"
                 >
                {{ column | capitalize }}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="people
                        | filterBy search
                        | orderBy sortKey reverse">
            <td>{{ projects }}</td>
            <td>{{ grids }}</td>
            <td>{{ tiles }}</td>
          </tr>
        </tbody>
      </table> 
    </tab>
    <tab name="Tiles">
      <h1>Tiles</h1>
      <input type="text" v-model="search" class="form-control" />
      <table class="table table-striped">
        <thead>
          <tr>
            <th v-repeat="column: columns">
              <a href="#" 
                 v-on="click: sortBy(column)"
                 v-class="active: sortKey == column"
                 >
                {{ column | capitalize }}
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="people
                        | filterBy search
                        | orderBy sortKey reverse">
            <td>{{ projects }}</td>
            <td>{{ grids }}</td>
            <td>{{ tiles }}</td>
          </tr>
        </tbody>
      </table> 
    </tab>
  </tabs>
</div> -->

<div id="welcome">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false">Grids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tile-tab" data-toggle="tab" href="#tile" role="tab" aria-controls="tile" aria-selected="false">Tiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="tile" aria-selected="false">Sources</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
      <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab">
        <project-table id="project-table" :projects="projects"></project-table>
      </div>
      <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
        <grid-table id="grid-table" :grids="grids"></grid-table>
      </div>
      <div class="tab-pane fade" id="tile" role="tabpanel" aria-labelledby="tile-tab">
        <tile-table id="tile-table" :tiles="tiles"></tile-table>
      </div>
      <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
        <source-table id="source-table" :sources="sources"></source-table>
      </div>
    </div>
  </div>

  <router-view></router-view>

  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
