<div id="welcome">
  <!-- {{projects}} -->
  <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid" aria-selected="false">Grids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tile-tab" data-toggle="tab" href="#tile" role="tab" aria-controls="tile" aria-selected="false">Tiles</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" id="source-tab" data-toggle="tab" href="#source-content" role="tab" aria-controls="tile" aria-selected="false">Sources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="template-tab" data-toggle="tab" href="#template-content" role="tab" aria-controls="tile" aria-selected="false">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="published-tab" data-toggle="tab" href="#published-content" role="tab" aria-controls="tile" aria-selected="false">Published</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
      <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="project-tab">
        <project-table id="project-table" :projects="projects"></project-table>
        
      </div>
      <div class="tab-pane fade" id="grid" role="tabpanel" aria-labelledby="grid-tab">
        <grid-table id="grid-table" :grids="grids"></grid-table>
      </div>
      <!-- 
      <div class="tab-pane fade" id="tile" role="tabpanel" aria-labelledby="tile-tab">
        <tile-table id="tile-table" :tiles="tiles"></tile-table>
      </div>

      -->
      <div class="tab-pane fade" id="source-content" role="tabpanel" aria-labelledby="source-content">
        <source-table id="source-table" :sources="sources"></source-table>
      </div>
      
      <div class="tab-pane fade" id="template-content" role="tabpanel" aria-labelledby="template-content">
        <!-- <template-table id="template-table" :templates="templates"></template-table> -->
        <!-- <grid-table id="grid-table" :grids="templates"></grid-table> -->

      </div>
      
      <div class="tab-pane fade" id="published-content" role="tabpanel" aria-labelledby="published-content">
        <!-- <published-table id="published-table" :published="published"></published-table> -->
        <!-- <grid-table id="grid-table" :grids="published"></grid-table> -->

      </div>
    </div>
  </div>
  
  <button id="new_project_button" class="btn">New Project</button>
  <button id="new_grid_button" class="btn">New Grid</button>
  <button id="new_source_button" class="btn">New Source</button>
  <button id="new_outline_button" class="btn">New Outline</button>
  <button id="new_published_button" class="btn">Publish Grid</button>
  <button id="new_template_button" class="btn">New Template</button>
  <button id="new_team_button" class="btn">New Team</button>
  <button id="edit_source_button" class="btn" onClick="Source.editSource(1,'test','test')">Edit Source</button>
  <button id="edit_project_button" class="btn" onClick="Project.editProject({project_id:1,project_name:'test',project_description:'test' },{})">Edit Project</button>

<!-- {{projects}}  -->
<!-- {{grids}} -->
<!-- {{templates}} -->
<!-- {{published}} -->
<!-- {{sources}} -->
  <grid-modals id="grid_modals" :projects="projects"></grid-modals>
  <source-modals id="source_modals" :projects="projects"></source-modals>
  <publish-modals id="publish_modals" :grids="grids"></publish-modals>
  <template-modals id="template_modals" :projects="projects"></template-modals>
  <team-modals id="team_modals"></team-modals>
  <project-modals id="project_modals"></project-modals>


  <!-- <group-modals id="group_modals" :projects="projects"></group-modals>
  <outline-modals id="outline_modals" :projects="projects"></outline-modals>
  <tile-modals id="tile_modals" :projects="projects" ></tile-modals>
  <tutorial-modals id="tutorial_modals" ></tutorial-modals> -->

  <router-view></router-view>

  
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
