<div id="view" v-cloak>

 {{user.grids}}
  <!-- {{"test"}} -->
  <!-- {{grid}}  -->
  <!-- {{projects}} -->
  <button id="new_project_button" class="btn">New Project</button>

  <div class="bodyContainer">
    <div class="bodyWrapper">
      <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link tab active" id="projcts-tab" data-toggle="tab" href="#projcts" role="tab" aria-controls="projcts" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" id="grids-tab" data-toggle="tab" href="#grids" role="tab" aria-controls="grids" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" id="tiles-tab" data-toggle="tab" href="#tiles" role="tab" aria-controls="tiles" aria-selected="false">Contact</a>
        </li>
      </ul> -->
      <div class="appTable">
        <!-- <grid-nav id="grid-nav"></grid-nav> -->
        <pile id="pile"></pile>
        <grid-wrapper id="grid-wrapper" :grid="grid"></grid-wrapper>
      </div>
    </div>
  </div>
  <decision-modals id="decision_modals"></decision-modals>
  <grid-modals id="grid_modals" :projects="projects"></grid-modals>
  <group-modals id="group_modals"></group-modals>
  <outline-modals id="outline_modals"></outline-modals>
  <project-modals id="project_modals"></project-modals>
  <publish-modals id="publish_modals"></publish-modals>
  <source-modals id="source_modals"></source-modals>
  <team-modals id="team_modals"></team-modals>
  <template-modals id="template_modals"></template-modals>
  <tile-modals id="tile_modals" :projects="projects" ></tile-modals>
  <tutorial-modals id="tutorial_modals" ></tutorial-modals>



  
  

</div>



  




  

































<!-- export grid modal body maybe get this to work at some point-->
<div class="hidden">
  <div class="modal-body">
    
      <form id="export_grid_form" method="post" action="/action?action=renderPDF">
        <input type="hidden" id="export_grid_id" name="grid_id" value="0" />
        <a href="#" class="btn btn-success" id="export_grid_save_button">Save</a>
      </form>
    
  </div>
</div>

<!-- <script src="/templates/js/contextMenu.js"></script> -->
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
