<div id="create-project" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/project/create-project.less</em>, <em>assets/js/pages/dashboard/project/create-project.page.js</em>, and <em>api/controllers/dashboard/project/view-create-project.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
