<div id="edit" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/project/edit-project.less</em>, <em>assets/js/pages/dashboard/project/edit-project.page.js</em>, and <em>api/controllers/dashboard/project/view-edit-project.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
