<div id="update" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/project/update.less</em>, <em>assets/js/pages/dashboard/project/update.page.js</em>, and <em>api/controllers/dashboard/project/view-update.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
