<div id="edit" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/tile/edit.less</em>, <em>assets/js/pages/dashboard/tile/edit.page.js</em>, and <em>api/controllers/dashboard/tile/view-edit.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
