<div id="source" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/source/source.less</em>, <em>assets/js/pages/source/source.page.js</em>, and <em>api/controllers/source/view-source.js</em>.)</p>


  <source-modals id="source_modals" :projects="projects"></source-modals>
  <tile-modals id="tile_modals" :projects="projects"></tile-modals>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
